body {
  background-image: url(../img/canvas-fibra1.png);
  background-repeat: repeat;
}

img {
  max-width: 100%;
}

.text-muted {
  color: #0B2F3A !important;
  text-align: center;
}

section#contacto form fieldset#radio {
  color: white !important; 
  text-align: justify; }

#contacto input,textarea,select,button {
  margin-bottom: 35px;
  border: 0px;
  border-radius: 3px;
}

#contacto input {
  width: 100%;
}

#contacto label {
  width: 100%;
}

#contacto textarea {
  width: 100%;
}

#radio input{
  width: 3%;
}

#radio label{
  width: 50%;
}
