font-family: 'Roboto Slab', serif;

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  margin: 0px;
  box-sizing: inherit;
}

header {
  width:100%;
  height: 146px;
  background: #323232;
  float: left;
}

header img {
  margin: 20px 0 20px 22px;
  width: 13%;
  float: left;
}

@media screen and (max-width:800px){
  header img {
    width: 25%;
  }
  header nav {
    margin: 0;
  }
  header nav ul{
    padding-left: 0;
  }
}

nav {
  float: right;
  margin: 60px 0px auto 100px;
}

nav ul {
  width: 100%;
}

nav ul li {
  list-style: none;
  display: inline-block;
}

nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1.5px;
  margin-right: 55px;
}

nav ul li a:hover {
  color: yellow;
  padding-bottom: 5px;
  border-bottom: 1px solid yellow;
}

.content img {
  width: 100%;
}

.carac-wrapper {
  background-color: white;
  height: 400px;
  width: 100%;

}

.carac-wrapper h3 {
  width: 100%;
  padding: 30px 0px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.carac-wrapper ul {
  padding: 120px 0px 80px;
  width: 79%;
  margin: 0px auto;
}

.carac-wrapper ul li {
  width: 12%;
  list-style: none;
  display: inline-block;
  margin: 0px 6%;
  text-align: center;
}

.carac-wrapper #c1:before {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -40px;
  content: "CONFIANZA";
  text-align: center;
}

.carac-wrapper #c2:before {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -40px;
  content: "SEGURIDAD";
  text-align: center;
}

.carac-wrapper #c3:before {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -40px;
  content: "EXCELENCIA";
  text-align: center;
}

.carac-wrapper #c4:before {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -40px;
  content: "PRIVILEGIOS";
  text-align: center;
}

.carac-wrapper ul li img {
  width: 100%;
  border-radius: 50%;
  border: 1.5px solid black;
}

/**************************************/
/*EMPRESA RECONOCIDA A NIVEL NACIONAL*/
/**************************************/

.wrapper-pista {
    background-image: url('../img/camino.jpg');
    background-attachment: scroll;
    background-origin: padding-box;
    background-position-x: 0px;
    background-position-y: center;
    background-size: auto auto;
    box-shadow: inset 0px 0px 800px 90px black;
    width: 100%;
    height: 460px;
    min-height: 460px;

}

.wrapper-pista h3 {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  padding: 0px 25px;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 300;
  font-size: 2.5em;
  text-transform: uppercase;
}

/**************************************/
/*Ven...*/
/**************************************/

.marcas {
    width:200px;
    height:600px;
    position:relative;
    width: 100%;
    background-color: #B8B8B8;
}
.wrapper-marcas-slogan {
    position:absolute;
    width:88%;
    height:400px;
    top:50%;
    margin-top:-250px;
    left:50%;
    margin-left:-45%;
}

.wrapper-marcas-slogan h4 {
    font-weight: normal;
    padding-top: 15px;
}

#marcas-lista {
    width: 100%;
    margin: 70px 3%;
    padding-left: 0px;
}

#marcas-lista li {
  width: 14%;
  list-style: none;
  display: inline-block;
  margin: 0px 4%;
}

#marcas-lista li a img {
  width: 100%;
  border: 1.5px solid black;
}

.btn-mostrar-mas {
  width: 120px;
  color: #4A4A4A;
  background-color: #D8D8D8;
  margin: 0px auto;
  text-align: center;
  box-shadow: 0px 0px 10px 2px;
  border-radius: 8px;
}

.btn-mostrar-mas a {
  text-decoration: none;
  color: black;
}

.btn-mostrar-mas p {
  padding: 10px 0px;
}

/**************************************/
/*contacto*/
/**************************************/
.contacto {
  height: 600px;
  width: 100%;
  background-color: #6E6E6E;
  position: relative;
  z-index: 1;
}

.contacto .wrapper-contacto {
  width: 90%;
  height: 600px;
  padding: 5% 0px 0px 8%;
}

.contacto .wrapper-contacto div {
  min-height: 420px;
  padding: 10px;
  margin: 10px;
}

.contacto .wrapper-contacto .col-1 {
  float: left;
  width: 40%;
}

.contacto .wrapper-contacto .col-2 {
  width: 40%;
  text-align: center;
  float: right;
}

.contacto .wrapper-contacto .col-2 img {
  width: 100%;
}

@media screen and (max-width: 800px){
  .col-1 {
  float: none;
  margin: 0;
  width: 100%;
  height: 220px;
  }

  .col-2 {
  margin: 0;
  text-align: left;
  }

  .contacto {
    width: 100%;
    height: 880px;
  }

}

.contacto h3 {
  margin-bottom: 50px;
}

.left {
  float: left;
  clear: both;
  width: 40%;
}

.right {
  float: right;
  clear: both;
  width: 40%;
}

/******************************************/
/*Agregando borde diagonal al div contacto*/
/******************************************/

.contacto:before {
  background-color: #6E6E6E;
  content: '';
  height: 40%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  top: 0;
  -moz-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(-3deg);
  -o-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(-3deg);
	-ms-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(-3deg);
  transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(-3deg);;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-backface-visibility: hidden;
}

footer {
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  background: #323232;
  font-size: 0.925em;
  position: relative;
}

.footer-distributed{
	background-color: #292c2f;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	color: white;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 20%;
}

.footer-distributed .footer-left object embed {
	width: 60%;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center div p {
	padding-bottom: 20px;
}

/* Footer Right */

.footer-distributed .footer-right {
	width: 40%;
}

.footer-distributed .footer-right p {
	padding-bottom: 20px;
}

.social {
  display: block;
  font-size: 0;
  list-style: none;
  margin: 0;
  text-align: left;
  padding-left: 0px;
}

.social li {
  display: inline-block;
  margin: 2px;
  margin: 0.2rem;
}

.social a, .social svg {
  display: block;
}

.social a {
  position: relative;
  height: 25;/*96px;*/
  height: 2.5rem;/*9.6rem;*/
  width: 25;/*96px;*/
  width: 2.5rem;/*9.6rem;*/
}

.social svg {
  height: 100%;
  width: 100%;
}

.social em {
  font-size: 14px;
  line-height: 1.5;
  margin-top: -0.75em;
  position: absolute;
  text-align: center;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
}

.icon-8:hover, .icon-10:hover, .icon-15:hover, .icon-17:hover, .icon-26:hover, .icon-28:hover {
  border-radius: 20%;
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
  /*-webkit-transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
  transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
  transition: background-color 0.5s, transform 0.5s ease-out;*/
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.icon-8 { /* email */
  color: #9C9C9C;
  fill: #9C9C9C;
}

.icon-8:hover {
  fill: #F2eC00;
}

.icon-10 { /* facebook */
  color: #9C9C9C;
  fill: #9C9C9C;
}

.icon-10:hover {
  fill: #3B5998;
}

.icon-15 { /* instagram */
  color: #9C9C9C;
  fill: #9C9C9C;
}

.icon-15:hover {
  fill: #bc2a8d;  /*Para Buscadores que no soporten degradado */
  fill: url(#MyGradient2);
}

.icon-17 { /* linkedin */
  color: #9C9C9C;
  fill: #9C9C9C;
}

.icon-17:hover {
  fill: #0077b5;
}

.icon-26 { /* twitter */
  color: #9C9C9C;
  fill: #9C9C9C;
}

.icon-26:hover {
  fill: #00aced;
}

.icon-28 { /* youtube */
  color: #9C9C9C;
  fill: #9C9C9C;
}

.icon-28:hover {
  fill: #cc181e;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.social {
		text-align: center;
	}

}
