<!DOCTYPE html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="description" content="Concesionario de autos,Dealer de Autos">
  	<meta name="keywords" content="autos, contactenos, central telefónica, reclamos, servicio técnico">
	<title>Contacto | AUTORACE PERÚ | Tu Mejor Opción</title>

	<!-- Bootstrap Núcleo del CSS -->
	<link rel="stylesheet" type="text/css" href="recursos/bootstrap/css/bootstrap.min.css">

	<!-- Icono de Favoritos o Página -->
	<link rel="shortcut icon" type="image/png" href="img/LogoAR-pagina.png">

	<link rel="stylesheet" type="text/css" href="recursos/font-awesome/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

	<!-- Estilos para la Página-->
	<link rel="stylesheet" type="text/css" href="css/main.css" >
  <link rel="stylesheet" type="text/css" href="css/contacto.css">

  <!-- Hotjar for http://autorace.azurewebsites.net/ -->
  <script src="js/hotjar.js"></script>  
</head>

<body>
  <!-- Barra de Navegación -->
   <nav class="navbar navbar-expand-lg fixed-top" id="mainNav" role="navigation">
            <div class="container">
              <a class="navbar-brand" href="index.html">
                <img class="logo" src="img/LogoAR-con-borde.svg" alt="Logo-AutoRace">
              </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu
                  <i class="fa fa-bars"></i>
              </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="navbar-nav ml-auto mr-auto">
                    <li class="nav-item">
                       <a class="nav-link" href="#">LA EMPRESA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="vehiculos.html">VEHÍCULOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">SERVICIOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">SUCURSALES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">COTIZACIÓN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contacto.html">CONTACTO</a>
                    </li>
                  </ul>
              </div>
            </div>
      </nav>

  <header class="head">
    <div class="carousel-inner descripcion">
      <img class="img-fluid" src="img/subaru2.png" alt="subaru">
    </div>
  </header>

<!-- Contacto Numeros -->

  <section id="caracteristicas">
        <div class="container">

          <div class="row text-center">
            <div class="col-md-4">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="service-heading"><strong>Central Telefónica</strong></h4>
              <p>478-0567 / 304-0500</p>
            </div>
            <div class="col-md-4 no-padding">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="service-heading"><strong>Servicio Técnico</strong></h4>
              <p>459-0589</p>
            </div>
            <div class="col-md-4">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-id-badge fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="service-heading"><strong>Reclamos</strong></h4>
              <p>423-8715</p>
            </div>
          </div>
        </div>
  </section>

<!-- Sección Contacto -->

  <section id="contacto">
    <div class="container">
			<div class="row">
          <div class="col-lg-6">
            <h2 class="section-heading margin">
              <span class="fa-stack fa-size">
                <i class="fa fa-circle fa-stack-2x color-circle"></i>
                <i class="fa fa-tty fa-stack-1x fa-inverse"></i>
              </span>

              <span class="span-1">¡Comuníquese</span> con nosotros<span class="span-1">!</span>
            </h2>
          </div>
      </div>

    <form id="form-contacto" action="" method="post" name="frm">
          <div class="row">
            <div class="col-md-12">

              <fieldset>
                <label>Razón:</label>
                <select id="razon" name="razon" required autofocus>
                  <option value="">--Seleccione--</option>
                  <option value="Contacto">Contacto</option>
                  <option value="Cotización">Cotización</option>
                  <option value="Talleres">Talleres</option>
                  <option value="Concesionarios">Concesionarios</option>
                  <option value="Repuestos">Repuestos</option>
                  <option value="Accesorios">Accesorios</option>
                  <option value="Servicio Técnico">Servicio Técnico</option>
                  <option value="Test Drive">Test Drive</option>
                  <option value="Reclamos">Reclamos</option>
                </select>
              </fieldset>

            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <fieldset>
                <label>Nombres y Apellidos:</label>
                <input id="nombres" name="nombres" type="text" ng-model="nombres" ng-minlength="5" required>
                  <span ng-show="frm.nombres.$dirty && frm.nombres.$invalid"></span>
                  <span class="validacion" ng-show="frm.nombres.$error.required">¡Campo obligatorio!</span>
                  <span class="validacion" ng-show="frm.nombres.$error.minlength">¡Debe ingresar como mínimo 5 caracteres!</span>
              </fieldset>
            </div>
            <div class="col-md-4 offset-md-4">
              <fieldset>
                <label>Correo:</label>
                <input id="correo" name="correo" type="email" ng-model="correo" required>
                <span ng-show="frm.correo.$dirty && frm.correo.$invalid"></span>
                <span class="validacion" ng-show="frm.correo.$error.required">¡Campo obligatorio!</span>
                <span class="validacion" ng-show="frm.correo.$error.email">¡La dirección de correo electrónico que has introducido no es válida!</span>
              </fieldset>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <fieldset>
                <label>Teléfono:</label>
                <input id="telefono" name="telefono" type="tel" ng-model="telefono" ng-minlength="7" ng-maxlength="7" required>
                <span ng-show="frm.telefono.$dirty && frm.telefono.$invalid"></span>
                <span class="validacion" ng-show="frm.telefono.$error.required">¡Campo obligatorio!</span>
                <span class="validacion" ng-show="frm.telefono.$error.minlength">¡Debe ingresar 7 caracteres númericos!</span>
                <span class="validacion" ng-show="frm.telefono.$error.maxlength">¡Debe ingresar 7 caracteres númericos!</span>
              </fieldset>

            </div>
            <div class="col-md-4">
              <fieldset>
                <label>Celular:</label>
                <input id="celular" name="celular" type="tel" ng-model="celular" ng-minlength="9" ng-maxlength="9" required>
                <span ng-show="frm.celular.$dirty && frm.celular.$invalid"></span>
                <span class="validacion" ng-show="frm.celular.$error.required">¡Campo obligatorio!</span>
                <span class="validacion" ng-show="frm.celular.$error.minlength">¡Debe ingresar 9 caracteres númericos!</span>
                <span class="validacion" ng-show="frm.celular.$error.maxlength">¡Debe ingresar 9 caracteres númericos!</span>
              </fieldset>

            </div>
            <div class="col-md-4">
              <fieldset>
                <label>Número de Placa:</label>
                <input id="placa" name="placa" type="text" ng-model="placa" ng-minlength="7" ng-maxlength="7" required>
                <span ng-show="frm.placa.$dirty && frm.placa.$invalid"></span>
                <span class="validacion" ng-show="frm.placa.$error.required">¡Campo obligatorio!</span>
                <span class="validacion" ng-show="frm.placa.$error.minlength">¡Debe seguir el siguiente formato: APA-027!</span>
                <span class="validacion" ng-show="frm.placa.$error.maxlength">¡Debe seguir el siguiente formato: APA-027!</span>
              </fieldset>

            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label>Mensaje:</label>
              <textarea id="mensaje" name="mensaje" rows="6">
              </textarea>
            </div>
          </div>
          <div class="row">
          <div class="col-md-12">
          <fieldset id="radio">
						<div>
				    	<input type="checkbox" id="terminos" name="terminos" value="chbox1" ng-model="chbox1" required><span>Acepto recibir información comercial en el futuro de AutoRace S.A.</span>
              <span ng-show="frm.terminos.$dirty && frm.terminos.$invalid"></span>
              <span class="validacion" ng-show="frm.terminos.$error.required">¡Campo obligatorio!</span>
              <br>
              
				    	<span><input type="checkbox" id="info" value="chbox2"></span>No deseo recibir información comercial en el futuro de AutoRace salvo la solicitud realizada.<br><br>
				    	<span  class="con2">Los datos que nos facilite nos permitirán gestionar su solicitud. Adicionalmente usted autoriza que AutoRace S.A. trate sus datos personales para el envío por medios postales, telefónicos y electrónicos, información sobre desarrollo de productos, servicios, ofertas, comunicaciones comerciales y promociones especiales que puedan ser de beneficio para usted, salvo que marque la casilla incluida más abajo, que usted no acepta recibir esta información.</span><br><br>
    				</div>
          </fieldset>
          </div>
          </div>

          <fieldset>
            <button  class="btn btn-success btn-md"  name="enviarCorreo" type="submit" id="enviarCorreo" ng-disabled="frm.$invalid" data-submit="...Sending">Enviar</button>
          </fieldset>

    </form>
    </div>
  </section>

 <!-- Pie de Página -->

   <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3 margin-auto">
           <p><img class="size" src="img/LogoAR.svg"></p>
          </div>
          <div class="col-md-3">
            <h6 class="footer-heading">Sede Principal</h6> 
            <p class="text-info text-center">Jr. Luis de la Puente Uceda N°500</p>
          </div>
           <div class="col-md-3">
            <h6 class="footer-heading">Central Telefónica</h6>           
            <p class="text-info text-center">478-0567 / 304-0500</p>
          </div>
          <div class="col-md-3">
            <h6 class="footer-heading">Síguenos en</h6>            
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#" title="Twitter">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#" title="Facebook">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#" title="Instagram">
                  <i class="fa fa-instagram"></i>
                </a>
              </li>
               <li class="list-inline-item">
                <a href="#" title="Youtube">
                  <i class="fa fa-youtube-play"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 margin-top">
            <span class="copyright">Todos los Derechos Reservados &copy; 2017</span>
          </div>
        </div>
      </div>
    </footer>

  <!-- Bootstrap Núcleo JavaScript -->
  <script src="recursos/jquery/jquery.min.js"></script>
  <script src="recursos/popper/popper.min.js"></script>
  <script src="recursos/bootstrap/js/bootstrap.min.js"></script>

  <!-- Scripts personalizado -->
  <script src="js/main.js"></script>

  <!-- Angular JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>

</body>
</html>
